:root{
    --small-font-size: 25px;
    --middle-font-size: 80px;
    --large-font-size: 100px;
    --black: #111111;
    --white: #FAFAFA;
    --red: #D4202C;
    --main-item-color: purple;
    --secondary-item-color: pink;
    --main-font-family: 'Kanit', sans-serif;
    --title-font-family: 'Rubik Mono One', monospace;
}

*{
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: var(--white);
}

/*                     Main page                       */

.homepage-wrapper{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.navbar-container{
    height: 10vh;
    background-color: transparent;
    display: flex;
}

.navbar-logo-img{
    margin: 5px;
    height: calc(100% - 10px);
    aspect-ratio: 1;
}

.navbar-list{
    flex: 1;
    text-align: right;
    list-style-type: none;
    font-size: var(--small-font-size);
    color: var(--black);
}

.navbar-list > * {
    margin-right: 3vw;
    margin-left: 3vw;
    display: inline;
}

.register-btn{
    width: 10vw;
    margin: 1vw 3vw;
    border-radius: 2vw;
    border: none;
    background-color: var(--black);
    font-size: var(--small-font-size);
    color: var(--white);
    transition: all 0.6s;
}

.register-btn:hover {
    background-color: var(--red);
    color: var(--black);
}

.main-container{
    background-color: var(--white);
    height: 90vh;
    display:flex;
}

.main-left{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-logo-img{
    width: 100%;
    height: 80%;
}

.main-right{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-character, .title-year{
    font-size: var(--large-font-size);
    font-family: var(--title-font-family);
}

/*.title-name{*/
/*    margin-bottom: -25px;*/
/*}*/


.title-character:nth-child(1) {
    display: inline-block;
    transform: rotate(-45deg) translateY(100px) translateX(-50px);
}
.title-character:nth-child(2) {
    display: inline-block;
    transform: rotate(-35deg) translateY(50px) translateX(-25px);
}
.title-character:nth-child(3) {
    display: inline-block;
    transform: rotate(-15deg) translateY(12.5px) translateX(-5px);
}
.title-character:nth-child(4) {
    display: inline-block;
    transform: rotate(-0deg) translateY(0px) translateX(0px);
}
.title-character:nth-child(5) {
    display: inline-block;
    transform: rotate(-0deg) translateY(0px) translateX(0px);
}
.title-character:nth-child(6) {
    display: inline-block;
    transform: rotate(15deg) translateY(12.5px) translateX(5px);
}
.title-character:nth-child(7) {
    display: inline-block;
    transform: rotate(35deg) translateY(50px) translateX(25px);
}
.title-character:nth-child(8) {
    display: inline-block;
    transform: rotate(45deg) translateY(100px) translateX(50px);
}

.title-description{
    font-size: var(--small-font-size);
}

.countdown-container{
    flex:1;
}

.countdown-timer{
    display: flex;
}

.countdown{
    font-weight: bolder;
    width: 200px;
    height: calc(var(--countdownHeight) * 1.5);
    font-size: var(--middle-font-size);
    --countdownHeight: calc(var(--middle-font-size) * 1.6);
    text-align: center;
    overflow-y: hidden;
}

.previous-digit{
    height: var(--countdownHeight);
    transform: translateY(calc(var(--countdownHeight) * -1));
}

.current-digit{
    height: var(--countdownHeight);
    transform: translateY(calc(var(--countdownHeight) * -1));
}

.countdown-description{
    font-size: var(--small-font-size);
    display: flex;
}

.countdown-unit{
    text-align: center;
    width: 25%;
}



/*                      About page                   */

.about-wrapper{
    color: var(--white);
    background-color: var(--black);
    text-align: center;
}

.about-wrapper > h1 {
    font-size: var(--middle-font-size);
}

.about-wrapper > p {
    font-size: var(--small-font-size);
    padding-left: 15%;
    padding-right: 15%;
}



/*                      FAQ page               */

.faq-wrapper{
    color: var(--black);
    background-color: var(--white);
}

.faq-wrapper > h1 {
    text-align: center;
    font-size: var(--middle-font-size);
}

.faq-list-container{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

.faq-list {
    width: 50%;
    font-size: var(--small-font-size);
}

.faq-list > li{
    width: fit-content;
    list-style-position: inside;
    overflow-y: hidden;
    cursor: pointer;
}

.faq-list > li > div{
    max-height: 0;
    padding-left: 2vw;
    transition: max-height 0.6s;
}

.faq-list > li:hover > div{
    /*max-height: 10vh;*/
}